<div class="container">
    <div class="row">
        <div class="notion-app-inner notion-light-theme"
        style="color: rgb(55, 53, 47); fill: currentcolor; line-height: 1.5; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; -webkit-font-smoothing: auto;">
        <div class="notion-cursor-listener"
            style="width: 100vw; height: 100%; position: relative; display: flex; flex: 1 1 0%; background: white; cursor: text;">
            <div style="display: flex; flex-direction: column; width: 100%; overflow: hidden;">
    
                <div class="notion-frame"
                    style="flex-grow: 0; flex-shrink: 1; display: flex; flex-direction: column; background: white; z-index: 1; height: calc(100vh - 45px); max-height: 100%; position: relative; width: 2283px;">
    
                    <div
                        style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;">
                        <div style="max-width: 100%; padding-left: calc(96px + env(safe-area-inset-left)); width: 100%;">
                            <div>
                                <div class="notion-record-icon notranslate notion-focusable" role="button"
                                    aria-disabled="true" tabindex="-1"
                                    style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 78px; width: 78px; border-radius: 3px; flex-shrink: 0; position: relative; z-index: 1; margin-left: 3px; margin-bottom: 0px; align-self: flex-start; margin-top: 96px;">
                                    <div
                                        style="display: flex; align-items: center; justify-content: center; height: 78px; width: 78px;">
                                        <div
                                            style="height: 78px; width: 78px; font-size: 78px; line-height: 1.1; margin-left: 0px; color: black;">
                                            <div style="position: relative; width: 78px; height: 78px;"><img
                                                    class="notion-emoji" alt="🎬" aria-label="🎬"
                                                    src="../images/breadcrumb-2.svg"
                                                    style="width: 78px; height: 78px; background: url(‘/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png‘) 11.8644% 91.5254% / 6000% 6000%; opacity: 1; transition: opacity 100ms ease-out 0s;"><img
                                                    alt="🎬" aria-label="🎬" src="../images/breadcrumb-2.svg"
                                                    style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 78px; height: 78px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="notion-page-controls"
                                    style="display: flex; justify-content: flex-start; flex-wrap: wrap; margin-top: 8px; margin-bottom: 4px; margin-left: -1px; color: rgba(55, 53, 47, 0.4); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; height: 24px;">
                                    <div class="notion-focusable" role="button" tabindex="0"
                                        style="user-select: none; transition: opacity 100ms ease 0s; cursor: pointer; opacity: 0; display: inline-flex; align-items: center; flex-shrink: 0; white-space: nowrap; height: 28px; border-radius: 3px; font-size: 14px; line-height: 1.2; min-width: 0px; padding-left: 6px; padding-right: 8px; color: rgba(55, 53, 47, 0.4); pointer-events: none; margin-bottom: -16px;">
                                        <svg viewBox="0 0 16 16" class="addPageDiscussion"
                                            style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.3); flex-shrink: 0; backface-visibility: hidden; margin-right: 6px;">
                                            <path
                                                d="M4.095 15.465c.287 0 .499-.137.84-.444l2.523-2.277 4.47.007c2.058 0 3.214-1.19 3.214-3.22V4.22c0-2.03-1.156-3.22-3.213-3.22H3.213C1.163 1 0 2.19 0 4.22V9.53c0 2.037 1.196 3.22 3.165 3.213h.273v1.983c0 .45.24.738.657.738zM3.958 5.156a.454.454 0 01-.444-.45c0-.24.198-.438.444-.438h7.157c.246 0 .445.198.445.437a.45.45 0 01-.445.451H3.958zm0 2.256a.454.454 0 01-.444-.451c0-.24.198-.444.444-.444h7.157a.448.448 0 010 .895H3.958zm0 2.256a.448.448 0 010-.896h4.669c.246 0 .437.206.437.452a.438.438 0 01-.437.444H3.958z">
                                            </path>
                                        </svg>Add comment
                                    </div>
                                </div>
                            </div>
                            <div style="padding-right: calc(96px + env(safe-area-inset-right));">
                                <div data-block-id="ab48b2ed-453a-44a5-81e9-fd8f7b2da703"
                                    class="notion-selectable notion-page-block"
                                    style="color: rgb(55, 53, 47); font-weight: 700; line-height: 1.2; font-size: 40px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; cursor: text; display: flex; align-items: center;">
                                    <div contenteditable="false" spellcheck="true" placeholder="Untitled"
                                        data-content-editable-leaf="true"
                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding: 3px 2px;">所有系列Wiki<span class="notion-end-marker"></span><span contenteditable="false"
                                            aria-hidden="true"
                                            class="notion-end-marker notion-ignore-text-content whenRootContentEditable"
                                            style="pointer-events:none;color:transparent;-webkit-text-fill-color:transparent;position:relative;margin-left:-1em;left:1em;display:none;--whenRootContentEditable--display:inline">—</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;">
                        <div contenteditable="false" data-content-editable-void="true"
                            style="padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right)); max-width: 100%; width: 100%;">
                            <div class="notion-page-details-controls"
                                style="display: flex; align-items: baseline; justify-content: flex-start; flex-wrap: wrap; color: rgba(55, 53, 47, 0.4); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; padding-bottom: 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="notion-page-content"
                        style="flex-shrink: 0; flex-grow: 1; width: 100%; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right)); padding-bottom: 30vh;">
                        <div data-block-id="9885bd71-0b52-4c2d-9432-9fbabeed7f6d"
                            class="notion-selectable notion-text-block"
                            style="width: 100%; max-width: 2065px; margin-top: 2px; margin-bottom: 1px;">
                            <div style="color: inherit; fill: inherit;">
                                <div style="display: flex;">
                                    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder=" "
                                        data-content-editable-leaf="true"
                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">原则上参考天幻网的版面设计：<a href="http://ff10.ffsky.cn/index.html"
                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                            class="notion-link-token notion-enable-hover" target="_blank"
                                            rel="noopener noreferrer" data-token-index="1"><span
                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                class="link-annotation-9885bd71-0b52-4c2d-9432-9fbabeed7f6d-234650401">http://ff10.ffsky.cn/battle_basic.htm</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-block-id="80a4109c-d6f9-42d0-bbfb-d04cbf616292"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/80a4109cd6f942d0bbfbd04cbf616292" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_1.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑一：琴心剑魄今何在</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="b41f1b4b-f8aa-45e8-9fbb-fd5e49dbd471"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/b41f1b4bf8aa45e89fbbfd5e49dbd471" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_2.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑二：永夜初晗凝碧天</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="37d7b18c-9dd2-4e29-9b9e-a1de61a04527"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px; position: relative;">
                            <a href="/37d7b18c9dd24e299b9ea1de61a04527" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_3.ico"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑三：梦付千秋星垂野</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="notion-selectable-halo"
                                style="position: absolute; pointer-events: none; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(46, 170, 220, 0.2); z-index: 81; opacity: 1;">
                            </div>
                        </div>
                        <div data-block-id="f3697c1a-46ce-485d-b167-64c550c9d74d"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/f3697c1a46ce485db16764c550c9d74d" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_4.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑四</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="7c5513c9-4410-405b-aba2-4445cb09e131"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/all_series/gujian_ol" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/breadcrumb-3.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">古剑奇谭网络版Wiki</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="6b6890e7-647c-45e0-a9f7-d90d8662ddf4"
                            class="notion-selectable notion-toggle-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 0px;">
                            <div
                                style="display: flex; align-items: flex-start; width: 100%; padding-left: 2px; color: inherit; fill: inherit;">
                                <div contenteditable="false" class="pseudoSelection" data-content-editable-void="true"
                                    style="user-select: none; --pseudoSelection--background:transparent; margin-right: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px); padding-right: 2px;">
                                    <div class="notion-focusable" role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 24px; height: 24px; border-radius: 3px;">
                                        <svg viewBox="0 0 100 100" class="triangle"
                                            style="width: 0.6875em; height: 0.6875em; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 1;">
                                            <polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <div style="flex: 1 1 0px; min-width: 1px;">
                                    <div style="display: flex;">
                                        <div class="notranslate" contenteditable="true" spellcheck="false"
                                            placeholder="Toggle" data-content-editable-leaf="true"
                                            style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px; text-align: left;">参考资料</div>
                                        <div>
                                          
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <div data-block-id="08198419-e6a4-464a-8346-801ef2656f4e"
                                            class="notion-selectable notion-text-block"
                                            style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                                            <div style="color: inherit; fill: inherit;">
                                                <div style="display: flex;">
                                                    <div class="notranslate" contenteditable="true"
                                                        spellcheck="false" placeholder=" "
                                                        data-content-editable-leaf="true"
                                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;"><a href="https://tieba.baidu.com/p/6418223467?see_lz=1"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="0"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e--1657662568">【半原创】古剑3资料大全（含支线、宝箱、家园等）</span></a><br><a href="https://wenku.baidu.com/view/91588866caaedd3383c4d3e7.html?fr=search"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="2"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e-2062955091">古剑奇谭超详细解析(星蕴、物品、装备)</span></a><br><a href="http://www.yxdown.com/gonglue/391989_1.html"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="4"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e--906428238">古剑奇谭3鄢陵景物内容一览</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-block-id="a3f66527-880e-44f8-9b18-50a23d985ab0"
                                            class="notion-selectable notion-page-block"
                                            style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;"><a href="/a3f66527880e44f89b1850a23d985ab0" rel="noopener noreferrer"
                                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                                <div class="notion-focusable" role="button" tabindex="0"
                                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                                    <div style="display: flex; align-items: center; width: 100%;">
                                                        <div
                                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                                            <div style="display: flex; align-items: center;">
                                                                <div
                                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                                        role="button" aria-disabled="true"
                                                                        tabindex="-1"
                                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                                        <div>
                                                                            <div style="width: 100%; height: 100%;">
                                                                                <img src="../images/breadcrumb-3.png"
                                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="notranslate"
                                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">《古剑奇谭网络版》·待删除</div>
                                                            </div>
                                                        </div>
                                                        <div contenteditable="false" class="pseudoSelection"
                                                            data-content-editable-void="true"
                                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                                            <div style="width: 28px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notion-presence-container"
                        style="position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: 1;">
                        <div></div>
                    </div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px;">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="notion-overlay-container notion-default-overlay-container"
            style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 999; pointer-events: none; overflow: hidden;">
            <div style="position: relative; z-index: 0;"></div>
        </div>
        <div class="notion-overlay-container"
            style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1001; pointer-events: none; overflow: hidden;">
            <div style="position: relative; z-index: 0;"></div>
        </div>
    
    
    </div>
    </div>
  
</div>
<div class="container">
    <div class="row">
        <div class="notion-app-inner notion-light-theme"
        style="color: rgb(55, 53, 47); fill: currentcolor; line-height: 1.5; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; -webkit-font-smoothing: auto;">
        <div class="notion-cursor-listener"
            style="width: 100vw; height: 100%; position: relative; display: flex; flex: 1 1 0%; background: white; cursor: text;">
            <div style="display: flex; flex-direction: column; width: 100%; overflow: hidden;">
    
                <div class="notion-frame"
                    style="flex-grow: 0; flex-shrink: 1; display: flex; flex-direction: column; background: white; z-index: 1; height: calc(100vh - 45px); max-height: 100%; position: relative; width: 2283px;">
    
                    <div
                        style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;">
                        <div style="max-width: 100%; padding-left: calc(96px + env(safe-area-inset-left)); width: 100%;">
                            <div>
                                <div class="notion-record-icon notranslate notion-focusable" role="button"
                                    aria-disabled="true" tabindex="-1"
                                    style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 78px; width: 78px; border-radius: 3px; flex-shrink: 0; position: relative; z-index: 1; margin-left: 3px; margin-bottom: 0px; align-self: flex-start; margin-top: 96px;">
                                    <div
                                        style="display: flex; align-items: center; justify-content: center; height: 78px; width: 78px;">
                                        <div
                                            style="height: 78px; width: 78px; font-size: 78px; line-height: 1.1; margin-left: 0px; color: black;">
                                            <div style="position: relative; width: 78px; height: 78px;"><img
                                                    class="notion-emoji" alt="🎬" aria-label="🎬"
                                                    src="../images/breadcrumb-2.svg"
                                                    style="width: 78px; height: 78px; background: url(‘/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png‘) 11.8644% 91.5254% / 6000% 6000%; opacity: 1; transition: opacity 100ms ease-out 0s;"><img
                                                    alt="🎬" aria-label="🎬" src="../images/breadcrumb-2.svg"
                                                    style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 78px; height: 78px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="notion-page-controls"
                                    style="display: flex; justify-content: flex-start; flex-wrap: wrap; margin-top: 8px; margin-bottom: 4px; margin-left: -1px; color: rgba(55, 53, 47, 0.4); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; height: 24px;">
                                    <div class="notion-focusable" role="button" tabindex="0"
                                        style="user-select: none; transition: opacity 100ms ease 0s; cursor: pointer; opacity: 0; display: inline-flex; align-items: center; flex-shrink: 0; white-space: nowrap; height: 28px; border-radius: 3px; font-size: 14px; line-height: 1.2; min-width: 0px; padding-left: 6px; padding-right: 8px; color: rgba(55, 53, 47, 0.4); pointer-events: none; margin-bottom: -16px;">
                                        <svg viewBox="0 0 16 16" class="addPageDiscussion"
                                            style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.3); flex-shrink: 0; backface-visibility: hidden; margin-right: 6px;">
                                            <path
                                                d="M4.095 15.465c.287 0 .499-.137.84-.444l2.523-2.277 4.47.007c2.058 0 3.214-1.19 3.214-3.22V4.22c0-2.03-1.156-3.22-3.213-3.22H3.213C1.163 1 0 2.19 0 4.22V9.53c0 2.037 1.196 3.22 3.165 3.213h.273v1.983c0 .45.24.738.657.738zM3.958 5.156a.454.454 0 01-.444-.45c0-.24.198-.438.444-.438h7.157c.246 0 .445.198.445.437a.45.45 0 01-.445.451H3.958zm0 2.256a.454.454 0 01-.444-.451c0-.24.198-.444.444-.444h7.157a.448.448 0 010 .895H3.958zm0 2.256a.448.448 0 010-.896h4.669c.246 0 .437.206.437.452a.438.438 0 01-.437.444H3.958z">
                                            </path>
                                        </svg>Add comment
                                    </div>
                                </div>
                            </div>
                            <div style="padding-right: calc(96px + env(safe-area-inset-right));">
                                <div data-block-id="ab48b2ed-453a-44a5-81e9-fd8f7b2da703"
                                    class="notion-selectable notion-page-block"
                                    style="color: rgb(55, 53, 47); font-weight: 700; line-height: 1.2; font-size: 40px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; cursor: text; display: flex; align-items: center;">
                                    <div contenteditable="false" spellcheck="true" placeholder="Untitled"
                                        data-content-editable-leaf="true"
                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding: 3px 2px;">所有系列Wiki<span class="notion-end-marker"></span><span contenteditable="false"
                                            aria-hidden="true"
                                            class="notion-end-marker notion-ignore-text-content whenRootContentEditable"
                                            style="pointer-events:none;color:transparent;-webkit-text-fill-color:transparent;position:relative;margin-left:-1em;left:1em;display:none;--whenRootContentEditable--display:inline">—</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;">
                        <div contenteditable="false" data-content-editable-void="true"
                            style="padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right)); max-width: 100%; width: 100%;">
                            <div class="notion-page-details-controls"
                                style="display: flex; align-items: baseline; justify-content: flex-start; flex-wrap: wrap; color: rgba(55, 53, 47, 0.4); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI‘, Helvetica, ‘Apple Color Emoji‘, Arial, sans-serif, ‘Segoe UI Emoji‘, ‘Segoe UI Symbol‘; padding-bottom: 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="notion-page-content"
                        style="flex-shrink: 0; flex-grow: 1; width: 100%; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right)); padding-bottom: 30vh;">
                        <div data-block-id="9885bd71-0b52-4c2d-9432-9fbabeed7f6d"
                            class="notion-selectable notion-text-block"
                            style="width: 100%; max-width: 2065px; margin-top: 2px; margin-bottom: 1px;">
                            <div style="color: inherit; fill: inherit;">
                                <div style="display: flex;">
                                    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder=" "
                                        data-content-editable-leaf="true"
                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">原则上参考天幻网的版面设计：<a href="http://ff10.ffsky.cn/index.html"
                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                            class="notion-link-token notion-enable-hover" target="_blank"
                                            rel="noopener noreferrer" data-token-index="1"><span
                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                class="link-annotation-9885bd71-0b52-4c2d-9432-9fbabeed7f6d-234650401">http://ff10.ffsky.cn/battle_basic.htm</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-block-id="80a4109c-d6f9-42d0-bbfb-d04cbf616292"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/80a4109cd6f942d0bbfbd04cbf616292" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_1.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑一：琴心剑魄今何在</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="b41f1b4b-f8aa-45e8-9fbb-fd5e49dbd471"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/b41f1b4bf8aa45e89fbbfd5e49dbd471" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_2.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑二：永夜初晗凝碧天</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="37d7b18c-9dd2-4e29-9b9e-a1de61a04527"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px; position: relative;">
                            <a href="/37d7b18c9dd24e299b9ea1de61a04527" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_3.ico"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑三：梦付千秋星垂野</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="notion-selectable-halo"
                                style="position: absolute; pointer-events: none; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(46, 170, 220, 0.2); z-index: 81; opacity: 1;">
                            </div>
                        </div>
                        <div data-block-id="f3697c1a-46ce-485d-b167-64c550c9d74d"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/f3697c1a46ce485db16764c550c9d74d" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/gujian_4.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                                    古剑四</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="7c5513c9-4410-405b-aba2-4445cb09e131"
                            class="notion-selectable notion-page-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 1px;"><a
                                href="/Wiki-7c5513c94410405baba24445cb09e131" rel="noopener noreferrer"
                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                <div class="notion-focusable" role="button" tabindex="0"
                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                        <div
                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                            <div style="display: flex; align-items: center;">
                                                <div
                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                        role="button" aria-disabled="true" tabindex="-1"
                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                        <div>
                                                            <div style="width: 100%; height: 100%;"><img
                                                                    src="../images/breadcrumb-3.png"
                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notranslate"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">古剑奇谭网络版Wiki</div>
                                            </div>
                                        </div>
                                        <div contenteditable="false" class="pseudoSelection"
                                            data-content-editable-void="true"
                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                            <div style="width: 28px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div data-block-id="6b6890e7-647c-45e0-a9f7-d90d8662ddf4"
                            class="notion-selectable notion-toggle-block"
                            style="width: 100%; max-width: 2065px; margin-top: 1px; margin-bottom: 0px;">
                            <div
                                style="display: flex; align-items: flex-start; width: 100%; padding-left: 2px; color: inherit; fill: inherit;">
                                <div contenteditable="false" class="pseudoSelection" data-content-editable-void="true"
                                    style="user-select: none; --pseudoSelection--background:transparent; margin-right: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px); padding-right: 2px;">
                                    <div class="notion-focusable" role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 24px; height: 24px; border-radius: 3px;">
                                        <svg viewBox="0 0 100 100" class="triangle"
                                            style="width: 0.6875em; height: 0.6875em; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 1;">
                                            <polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <div style="flex: 1 1 0px; min-width: 1px;">
                                    <div style="display: flex;">
                                        <div class="notranslate" contenteditable="true" spellcheck="false"
                                            placeholder="Toggle" data-content-editable-leaf="true"
                                            style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px; text-align: left;">参考资料</div>
                                        <div>
                                          
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <div data-block-id="08198419-e6a4-464a-8346-801ef2656f4e"
                                            class="notion-selectable notion-text-block"
                                            style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                                            <div style="color: inherit; fill: inherit;">
                                                <div style="display: flex;">
                                                    <div class="notranslate" contenteditable="true"
                                                        spellcheck="false" placeholder=" "
                                                        data-content-editable-leaf="true"
                                                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;"><a href="https://tieba.baidu.com/p/6418223467?see_lz=1"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="0"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e--1657662568">【半原创】古剑3资料大全（含支线、宝箱、家园等）</span></a><br><a href="https://wenku.baidu.com/view/91588866caaedd3383c4d3e7.html?fr=search"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="2"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e-2062955091">古剑奇谭超详细解析(星蕴、物品、装备)</span></a><br><a href="http://www.yxdown.com/gonglue/391989_1.html"
                                                            style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                                                            class="notion-link-token notion-enable-hover"
                                                            target="_blank" rel="noopener noreferrer"
                                                            data-token-index="4"><span
                                                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                                                class="link-annotation-08198419-e6a4-464a-8346-801ef2656f4e--906428238">古剑奇谭3鄢陵景物内容一览</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-block-id="a3f66527-880e-44f8-9b18-50a23d985ab0"
                                            class="notion-selectable notion-page-block"
                                            style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;"><a href="/a3f66527880e44f89b1850a23d985ab0" rel="noopener noreferrer"
                                                style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                                                <div class="notion-focusable" role="button" tabindex="0"
                                                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                                                    <div style="display: flex; align-items: center; width: 100%;">
                                                        <div
                                                            style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                                            <div style="display: flex; align-items: center;">
                                                                <div
                                                                    style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                                                    <div class="notion-record-icon notranslate notion-focusable"
                                                                        role="button" aria-disabled="true"
                                                                        tabindex="-1"
                                                                        style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                                                        <div>
                                                                            <div style="width: 100%; height: 100%;">
                                                                                <img src="../images/breadcrumb-3.png"
                                                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="notranslate"
                                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">《古剑奇谭网络版》·待删除</div>
                                                            </div>
                                                        </div>
                                                        <div contenteditable="false" class="pseudoSelection"
                                                            data-content-editable-void="true"
                                                            style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                                            <div style="width: 28px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notion-presence-container"
                        style="position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: 1;">
                        <div></div>
                    </div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px;">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="notion-overlay-container notion-default-overlay-container"
            style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 999; pointer-events: none; overflow: hidden;">
            <div style="position: relative; z-index: 0;"></div>
        </div>
        <div class="notion-overlay-container"
            style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1001; pointer-events: none; overflow: hidden;">
            <div style="position: relative; z-index: 0;"></div>
        </div>
    
    
    </div>
    </div>
  
</div>
