<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="../images/breadcrumb-2.ico" type="image/x-icon">
  <link rel="icon" sizes="any" mask="" href="../images/breadcrumb-2.svg">
  <link rel="stylesheet" type="text/css" href="/stylesheets/notion.css">
</head>

<body>
    <% include breadcrumb.ejs%>
    <div class="app-notion">
        <% include body.ejs%>

    </div>
  


</body>

</html>