<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="../images/qianqiuxi.jpg" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reporter.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/decoration.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/print.css">


</head>

<body>

   
    <div class="app-notion">
        <% include body.ejs%>
    </div>



</body>
<audio  id="combaudio" src=""></audio>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/controller.js"></script>
<script src="/javascripts/comb.js"></script>
<script src="/javascripts/trick.js"></script>
</html>