<div class="container">

    <div data-block-id="21fe64db-4bfa-4d9b-b4a7-52d53c6e5411" class="notion-selectable notion-column_list-block"
    style="width: 100%; max-width: 1980px; align-self: center; margin-top: 1px; margin-bottom: 1px;">
        <div style="display: flex; ">
           
            <div
                style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 46px) * 0.8125);">
                <div data-block-id="c587e98c-1eeb-4768-b25f-5cc34044782d" class="notion-selectable notion-column-block"
                    style="display: flex; flex-direction: column;">
            
                    <% include details/novice_knowledge.ejs%>
                    <% include details/basic_system.ejs%>
                    <% include details/scene_map.ejs%>
                    <% include details/world_history.ejs%>
                    <% include details/character_and_appearance.ejs%>
                    <% include details/skill_and_equipment.ejs%>
                    <% include details/module_pve.ejs%>
                    <% include details/module_pvp.ejs%>
                    <% include details/module_pvx.ejs%>
                </div>
                
           
            </div>
            <% include ../../common/blank_vertical.ejs%>
            <% include side_bar.ejs%>
           
        </div>
       
    </div>
 
</div>

