<div class="notion-page-content">
    <div data-block-id="2115f14c-5f6e-4850-a3e5-2f887687a07f" class="notion-selectable notion-text-block"
    style="width: 100%; max-width: 1980px; margin-top: 2px; margin-bottom: 1px;">
    <div style="background: rgb(251, 228, 228);">
        <div style="display: flex;">
            <div class="notranslate" contenteditable="true" spellcheck="false" placeholder=" "
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">
                <a href="https://wiki.biligame.com/gjqtwiki/%E9%A6%96%E9%A1%B5"
                    style="cursor:pointer;color:rgb(173,26,114);word-wrap:break-word;font-weight:600;text-decoration:inherit"
                    class="notion-link-token notion-enable-hover" target="_blank" rel="noopener noreferrer"
                    data-token-index="0"><span
                        style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                        class="link-annotation-2115f14c-5f6e-4850-a3e5-2f887687a07f-1111621277">古剑BWIKI建设</span></a><span
                    style="font-weight:600;color:rgb(173,26,114)" data-token-index="1"
                    class="notion-enable-hover"> 正式开始招募啦~ </span>: <a
                    style="vertical-align:top;cursor:pointer;color:inherit;text-decoration:inherit;transition:all 100ms ease-in"
                    contenteditable="false"
                    class="notion-page-mention-token notion-text-mention-token notion-enable-hover"
                    data-token-index="3" href="/98547bd8334c491eba3fabff20bda360"><span
                        style="white-space:nowrap"></span><span style="white-space:nowrap"><span
                            style="width:1.1em;display:inline-block;vertical-align:-0.15em;position:relative;margin-right:0.2em"><svg
                                viewBox="0 0 30 30"
                                style="width:100%;height:100%;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden"
                                class="page">
                                <g>
                                    <path
                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                    </path>
                                </g>
                            </svg><svg viewBox="0 0 13 13"
                                style="width:0.7em;height:0.7em;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden;position:absolute;right:-0.2em;bottom:0"
                                class="pageLinkIndicator">
                                <path
                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                    fill="#3E3C38" stroke="white" stroke-width="1.5"></path>
                            </svg></span></span><span
                        style="border-bottom:0.05em solid rgba(55,53,47,0.25);font-weight:500"
                        class="notion-page-mention-token__title">秉剑博物，终是相逢未晚</span><span
                        style="white-space:nowrap"></span></a> </div>
        </div>
    </div>
    </div>

    <div data-block-id="41a187be-7bd2-4de3-acfb-345b14cde5dc" class="notion-selectable notion-toggle-block"
    style="width: 100%; max-width: 1980px; margin-top: 1px; margin-bottom: 1px;">
    <div
        style="display: flex; align-items: flex-start; width: 100%; padding-left: 2px; background: rgb(221, 237, 234);">
        <div contenteditable="false" class="pseudoSelection" data-content-editable-void="true"
            style="user-select: none; --pseudoSelection--background:transparent; margin-right: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px); padding-right: 2px;">
            <div class="notion-focusable" role="button" tabindex="0"
                style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 24px; height: 24px; border-radius: 3px;">
                <svg viewBox="0 0 100 100" class="triangle"
                    style="width: 0.6875em; height: 0.6875em; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 1;">
                    <polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon>
                </svg></div>
        </div>
        <div style="flex: 1 1 0px; min-width: 1px;">
            <div style="display: flex;">
                <div class="notranslate" contenteditable="true" spellcheck="false" placeholder="Toggle"
                    data-content-editable-leaf="true"
                    style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px; text-align: left;">
                    Swords of Legends Online Wiki. 欢迎访问古剑奇谭网络版Wiki，初次使用请阅读<span
                        style="background:rgb(250,235,221)" data-token-index="1" class="notion-enable-hover">
                    </span><a
                        style="background:rgb(250,235,221);vertical-align:top;cursor:pointer;color:inherit;text-decoration:inherit;transition:all 100ms ease-in"
                        contenteditable="false"
                        class="notion-page-mention-token notion-text-mention-token notion-enable-hover"
                        data-token-index="2" href="/Wiki-b8d5441ee5784ca78e6aa1c510ebefd4"><span
                            style="white-space:nowrap"></span><span style="white-space:nowrap"><span
                                style="width:1.1em;display:inline-block;vertical-align:-0.15em;position:relative;margin-right:0.2em"><svg
                                    viewBox="0 0 30 30"
                                    style="width:100%;height:100%;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden"
                                    class="page">
                                    <g>
                                        <path
                                            d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                        </path>
                                    </g>
                                </svg></span></span><span
                            style="border-bottom:0.05em solid rgba(55,53,47,0.25);font-weight:500"
                            class="notion-page-mention-token__title">Wiki使用说明</span><span
                            style="white-space:nowrap"></span></a><span style="background:rgb(250,235,221)"
                        data-token-index="3" class="notion-enable-hover">。</span> 萌新入门，非常推荐B站视频：<a
                        href="https://www.bilibili.com/video/BV1qt411L7Da/?p=2&amp;spm_id_from=pageDriver"
                        style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                        class="notion-link-token notion-enable-hover" target="_blank" rel="noopener noreferrer"
                        data-token-index="5"><span
                            style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                            class="link-annotation-41a187be-7bd2-4de3-acfb-345b14cde5dc-1175444292">【古剑OL】新手入门指南大全（多P）</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
     