<div data-block-id="908574d4-e871-4284-a651-f7742b1a6840"
class="notion-selectable notion-sub_header-block"
style="width: 100%; max-width: 100%; margin-top: 1.4em; margin-bottom: 1px;">
<div
    style="display: flex; width: 100%; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; font-weight: 600; font-size: 1.5em; line-height: 1.3; background: rgb(233, 229, 227);">
    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder="Heading 2"
        data-content-editable-leaf="true"
        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">角色<span style="font-weight:600" data-token-index="1" class="notion-enable-hover">与外观</span></div>
</div>
</div>
<div data-block-id="5a1ffa3f-b735-460e-bd4f-4aa7cfd68435"
class="notion-selectable notion-column_list-block"
style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
<div style="display: flex;">
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="ce1febc2-fda9-4564-9f1c-00df5556dff6"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="b463472d-ac56-4b55-8a11-1bd04473243e"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/be6c9bfc553441bcafa6ebe048e19048" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4512b8fb-cfdd-43ce-8868-d835d9ccfcf6%2F_2020052316374437SS.png?table=block&amp;id=be6c9bfc-5534-41bc-afa6-ebe048e19048&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        角色状态参数</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="1f0f4565-3b3b-43a3-a3d4-b563f6da0fe0"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/4ada989e92cc4062a826e0fa90636853" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4e96535e-55ee-47ce-bb6d-bfdad39441ac%2F2020-8-2-12-36-41.jpg?table=block&amp;id=4ada989e-92cc-4062-a826-e0fa90636853&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        坐骑</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="0db589c1-9ec9-48e2-b3fa-9fe1abfbc9d5"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/537c2799a1294bda95416841d972b3b1" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fef35e2ca-adb9-4937-95e3-d25cabdf1eec%2F2020-8-5-23-55-53.jpg?table=block&amp;id=537c2799-a129-4bda-9541-6841d972b3b1&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        名帖</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="bcef4725-12b0-45c9-98ba-41029bd38d40"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="f11cb23c-6b10-41fd-8263-78fb4c822037"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/1364c2ecd7164357984467ecfe8e795d" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F57b51699-a073-42cc-90bd-e62d60f537df%2F2020-6-16-19-40-5.jpg?table=block&amp;id=1364c2ec-d716-4357-9844-67ecfe8e795d&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        头衔·头像</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="10cde85e-3c09-4cf7-94ca-d80878637713"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/f754dceba9bc41e3a4a19ad422365689" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc107a57c-cf83-4b29-b42f-f3580336fd4f%2F2020-6-1-23-30-14.jpg?table=block&amp;id=f754dceb-a9bc-41e3-a4a1-9ad422365689&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        动作</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="c3ccf14e-0bc2-4700-b975-4a032b48e77f"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/c8fb8abf6c5047e09201f36692aba6b9" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F17d9a550-6035-400f-939a-8aa78072b9f8%2F_2020052316484348SS.png?table=block&amp;id=c8fb8abf-6c50-47e0-9201-f36692aba6b9&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        声望</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="6b39c1f4-6b9c-4bd8-a129-c2bb6413b2ac"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="b7066a63-7e82-4b8b-b0da-456c59bc2976"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/b7066a637e824b8bb0da456c59bc2976" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/21426ec9-c79a-492a-b265-37dcad951f72/93_.gif?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210914%2Fus-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20210914T081059Z&amp;X-Amz-Expires=86400&amp;X-Amz-Signature=55a7b752231b55493b2d44b10688c0ffe767bd45a61f9419da079a7396608c1a&amp;X-Amz-SignedHeaders=host"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        表情</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="4120ac39-2cda-4017-ab20-aeed679f7224"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/4120ac392cda4017ab20aeed679f7224" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4e75633d-e492-4f02-bb8d-0775ff646e5e%2FTex_0049_23.jpg?table=block&amp;id=4120ac39-2cda-4017-ab20-aeed679f7224&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        游戏货币</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="68b51917-aa74-4635-9b7a-6648f221902d"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/68b51917aa7446359b7a6648f221902d" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F1ec698c9-e75b-4dca-ab4c-6796cac3a5a5%2F2020-5-19-16-49-48.jpg?table=block&amp;id=68b51917-aa74-4635-9b7a-6648f221902d&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        外观摄形·武器·挂饰</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="78985435-b20b-4178-aa33-00457627dfaf"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="01d272c4-3c04-40cb-9e98-be08e4840fbb"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/8a4b46a004744ff1b662ec12b538e752" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc2ea338d-cbfa-45d2-ab63-368672eec68b%2F_2020051104535553SS.png?table=block&amp;id=8a4b46a0-0474-4ff1-b662-ec12b538e752&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *职业专精和攻略</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="d8b22e5e-b0d3-4345-9850-c69cc8aad2a6"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/6522104b4b2544a3a5f28d8c688fb6e6" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Ffa6572b3-c5e5-481d-ab75-dc7cb5a8a6a2%2FUntitled.png?table=block&amp;id=6522104b-4b25-44a3-a5f2-8d8c688fb6e6&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        照影</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="9565b6fd-309c-46f5-b320-2e44982d08a0"
                class="notion-selectable notion-text-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <div style="color: inherit; fill: inherit;">
                    <div style="display: flex;">
                        <div class="notranslate" contenteditable="true" spellcheck="false"
                            placeholder=" " data-content-editable-leaf="true"
                            style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px; min-height: 1em; color: rgb(55, 53, 47); -webkit-text-fill-color: rgba(55, 53, 47, 0.4);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>