<div data-block-id="3d3b0a3b-2339-4dd7-9988-60a19f420393"
class="notion-selectable notion-sub_header-block"
style="width: 100%; max-width: 100%; margin-top: 1.4em; margin-bottom: 1px;">
<div
    style="display: flex; width: 100%; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; font-weight: 600; font-size: 1.5em; line-height: 1.3; background: rgb(235, 236, 237);">
    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder="Heading 2"
        data-content-editable-leaf="true"
        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">PVP·斗法勇战</div>
</div>
</div>
<div data-block-id="bcdbdd7e-037d-48d2-8975-70bd82139386"
class="notion-selectable notion-column_list-block"
style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
<div style="display: flex;">
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="68433f89-e8dd-4da2-928c-0e8bd7c0c1fe"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="ed959c47-37dd-421f-b334-c6ad4757f6dc"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/PVP-ed959c4737dd421fb334c6ad4757f6dc" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb485a026-88a4-43e0-a7b4-1376fa2adbfe%2FPVP.png?table=block&amp;id=ed959c47-37dd-421f-b334-c6ad4757f6dc&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *斗法指引（PVP）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="d6c4a683-ed6b-4cba-ac31-97834d3ebb2c"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/3V3-d6c4a683ed6b4cbaac3197834d3ebb2c" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *铭锋论剑（竞技场3V3）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="11e402e1-74df-48d1-97c6-3b9d231c4685"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/11e402e174df48d197c63b9d231c4685" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc3661298-d7ec-4b73-91d6-f5ae662f1570%2F1.png?table=block&amp;id=11e402e1-74df-48d1-97c6-3b9d231c4685&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        嘉禾争茂/白鹤争唳</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="2c0f91c4-b8de-4d6d-87e4-c9fdd9f81c71"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/2c0f91c4b8de4d6d87e4c9fdd9f81c71" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *斗战狂沙·角斗</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="fbef4e37-4b60-4176-9e46-6841a814f768"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="b9a38c43-dd3e-4e5e-8ee6-c0aae3adb4fa"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/b9a38c43dd3e4e5e8ee6c0aae3adb4fa" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *斗法和阵营系统</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="27d99465-8b8e-4156-8037-a77a953e0a3d"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/5V5-27d994658b8e41568037a77a953e0a3d" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *青锋小试（竞技场5V5）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="1f83f996-2502-4419-8615-50fc2a7d872d"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/1f83f99625024419861550fc2a7d872d" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *锋震龙吟</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="eee9ef03-5eac-46bf-9567-6de78c8a0f4a"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/eee9ef035eac46bf95676de78c8a0f4a" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        青云啸野</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="813ed7ef-c108-45c3-8c78-fe53dc2871e2"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="b39ce494-d52d-4e72-91ca-2a1d00d99387"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/30V30-b39ce494d52d4e7291ca2a1d00d99387" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🆚"
                                                        aria-label="🆚"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 0% 50.8475% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        龙吟剑鸣（大型战场30V30）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="be2a0dbd-d3d6-4375-a37a-0ea94e0b0845"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/be2a0dbdd3d64375a37a0ea94e0b0845" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F91143d0b-8d51-4545-b7c7-35a655fdb6de%2F_202007142364806SS.png?table=block&amp;id=be2a0dbd-d3d6-4375-a37a-0ea94e0b0845&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        步云擂台</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="447278ee-a1c3-4eba-b121-5b827a1079e5"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/447278eea1c34ebab1215b827a1079e5" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4b44f1fb-59b7-445a-837e-b7c4bbd35b56%2F.png?table=block&amp;id=447278ee-a1c3-4eba-b121-5b827a1079e5&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        冰晶敛云</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="34cd486c-3718-45d9-9f10-db9f8058b5e3"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="3814f0a6-e5d4-4b69-abc2-06b412ccdf26"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/913a529c6d7e4ae68aaeacd885ceb9bb" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🏁"
                                                        aria-label="🏁"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 13.5593% 25.4237% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        十洲剑试（小型战场）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="48a96a16-a8f4-4f86-b542-435415e27154"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/f98f067273da451bb87fc3a0f87d3f70" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc4806381-ed76-445b-84bc-4d9609bde628%2F%E9%92%9F%E6%97%A0%E7%97%B4.png?table=block&amp;id=f98f0672-73da-451b-b87f-c3a0f87d3f70&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        赤影争锋</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="f8f8b15a-ceeb-4041-904a-c165f92b878a"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/d1dbb1c81b6344b0b627fc33bd8d6be6" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <svg viewBox="0 0 30 30" class="page"
                                                style="width: 19.8px; height: 19.8px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                                                <g>
                                                    <path
                                                        d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *诛邪定楚洲（浮空岛）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="e59f9939-8c1f-44f5-877d-155c3fa6a4fa"
                class="notion-selectable notion-text-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <div style="color: inherit; fill: inherit;">
                    <div style="display: flex;">
                        <div class="notranslate" contenteditable="true" spellcheck="false"
                            placeholder=" " data-content-editable-leaf="true"
                            style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px; min-height: 1em; color: rgb(55, 53, 47); -webkit-text-fill-color: rgba(55, 53, 47, 0.4);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>