<div data-block-id="bc4f29cc-68c0-4f66-9301-49eb01ad0cbe"
class="notion-selectable notion-sub_header-block"
style="width: 100%; max-width: 100%; margin-top: 1.4em; margin-bottom: 1px;">
<div
    style="display: flex; width: 100%; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; font-weight: 600; font-size: 1.5em; line-height: 1.3; background: rgb(233, 229, 227);">
    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder="Heading 2"
        data-content-editable-leaf="true"
        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">PVE·历世侠名</div>
</div>
</div>
<div data-block-id="475d8a3c-a95f-4f0e-91cb-d848dfe2832a"
class="notion-selectable notion-column_list-block"
style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
<div style="display: flex;">
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="a2b3a1be-d913-4bd3-974c-bfcd68e2a3cd"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="37b0dffe-1b40-48a4-a39b-1ae5baa1ae63"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/PVE-37b0dffe1b4048a4a39b1ae5baa1ae63" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd7c47fb5-f9b2-41ee-a1ed-35ebf9f722b1%2FPVE.png?table=block&amp;id=37b0dffe-1b40-48a4-a39b-1ae5baa1ae63&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        历世引导（PVE）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="4483774a-4d66-43d9-8df5-d63459adbdde"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/BOSS-4483774a4d6643d98df5d63459adbdde" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="☠" aria-label="☠"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 94.9153% 0% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        妖魔试炼（世界BOSS）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="67624ace-358b-4e67-8dc7-10b3a92641fa"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/67624ace358b4e678dc710b3a92641fa" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F23ab6aa0-1490-4070-a00b-66f0e0c4718d%2F.png?table=block&amp;id=67624ace-358b-4e67-8dc7-10b3a92641fa&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        灵关突破/记忆之匣</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="5dc32066-8d71-4bf7-9898-ed26a2304978"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="38751c1b-5227-4e03-93cf-dd75c62ed563"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/b52186ce89c64ba092b51348e381de20" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🎆"
                                                        aria-label="🎆"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 11.8644% 35.5932% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        *秘境（副本）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="d074207c-2734-422d-953f-15a8afbe76df"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/7c0987407b5a42fbabdf6879020c0789" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6f4804f5-a086-4858-97a5-0bfee07ccd7f%2F.png?table=block&amp;id=7c098740-7b5a-42fb-abdf-6879020c0789&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        历世万法·青灯行者（青灯）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="df91a18d-e29d-40be-88bb-6382c5974048"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/0cea627415cd46048e90c58565c3e4bd" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="👹"
                                                        aria-label="👹"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 42.3729% 37.2881% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        野外怪物和掉落</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="1a5679a3-95e2-42ea-8ee4-4cac07ca0ce2"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="354b15d2-480d-46ac-bf72-a2902309cb7d"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/354b15d2480d46acbf72a2902309cb7d" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🗻"
                                                        aria-label="🗻"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 54.2373% 79.661% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        秘境讨伐</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="ba9b7395-8f5a-4a8b-8641-6b5f80d061c4"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px;">
                <a href="/ba9b73958f5a4a8b86416b5f80d061c4" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div>
                                                <div style="width: 100%; height: 100%;"><img
                                                        src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F1bb6cc7b-de9a-4baf-891f-e91364717749%2F.png?table=block&amp;id=ba9b7395-8f5a-4a8b-8641-6b5f80d061c4&amp;spaceId=6d84c864-1e3f-4e7b-9ef4-11245152bb0e&amp;width=40&amp;userId=c4acf3d4-b474-4245-9d2d-6a37fdc0d001&amp;cache=v2"
                                                        style="display: block; object-fit: cover; border-radius: 3px; width: 19.536px; height: 19.536px; transition: opacity 100ms ease-out 0s;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        历世万法·吃赏人（赤羽）</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="48d6c9f3-f8de-424e-8ace-7048d5177150"
                class="notion-selectable notion-page-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/48d6c9f3f8de424e8ace7048d5177150" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="📑"
                                                        aria-label="📑"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 49.1525% 13.5593% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        集仙谱</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        style="position: relative; width: 46px; flex-grow: 0; flex-shrink: 0; transition: opacity 200ms ease-out 0s; opacity: 0;">
    </div>
    <div
        style="padding-top: 12px; padding-bottom: 12px; flex-grow: 0; flex-shrink: 0; width: calc((100% - 138px) * 0.25);">
        <div data-block-id="221dd868-7e26-46f3-a639-089e981d9b9f"
            class="notion-selectable notion-column-block"
            style="display: flex; flex-direction: column;">
            <div data-block-id="5ee35530-2ce4-4936-80f6-54e422cc119a"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 1px;">
                <a href="/ebbe458718e1403ca2dc600530019d25" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🐙"
                                                        aria-label="🐙"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 18.6441% 38.9831% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        荡尽修罗</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div data-block-id="2121957a-afe0-4ca2-808b-f442a1072af9"
                class="notion-selectable notion-alias-block"
                style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 0px;">
                <a href="/BOSS-0524101402d54e4ab72274ae890dd20f" rel="noopener noreferrer"
                    style="display: block; color: inherit; text-decoration: none; fill: inherit;">
                    <div class="notion-focusable" role="button" tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <div
                                style="flex: 1 1 0px; min-width: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 2px;">
                                <div style="display: flex; align-items: center;">
                                    <div
                                        style="position: relative; width: 24px; height: 24px; margin-right: 4px;">
                                        <div class="notion-record-icon notranslate notion-focusable"
                                            role="button" aria-disabled="true" tabindex="-1"
                                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; border-radius: 3px; flex-shrink: 0;">
                                            <div
                                                style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px;">
                                                <div
                                                    style="height: 15.4px; width: 15.4px; font-size: 15.4px; line-height: 1.1; margin-left: 0px; color: black;">
                                                    <img class="notion-emoji" alt="🌦"
                                                        aria-label="🌦"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        style="width: 100%; height: 100%; background: url(’/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png’) 8.47458% 67.7966% / 6000% 6000%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div><svg viewBox="0 0 13 13" class="pageLinkIndicator"
                                                style="width: 50%; height: 50%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; position: absolute; right: 0px; bottom: 0px;">
                                                <path
                                                    d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                    fill="#3E3C38" stroke="white"
                                                    stroke-width="1.5"></path>
                                            </svg></div>
                                    </div>
                                    <div class="notranslate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; line-height: 1.3; border-bottom: 1px solid rgba(55, 53, 47, 0.16);">
                                        光明野侠义/隐藏BOSS</div>
                                </div>
                            </div>
                            <div contenteditable="false" class="pseudoSelection"
                                data-content-editable-void="true"
                                style="user-select: none; --pseudoSelection--background:transparent; margin-left: 4px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc((1.5em + 3px) + 3px);">
                                <div style="width: 28px;"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>