<div style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;">
    <div
        style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
        <div style="width: 100%; cursor: inherit;">
            <div style="width: 100%; height: 100%;"><img
                    src="../images/bill.webp"
                    style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 22%;">
            </div>
        </div>
        <div
            style="background: rgba(0, 0, 0, 0.4); border-radius: 3px; color: white; font-size: 12px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; width: 180px; left: calc(50% - 90px); padding: 0.3em 1.5em; pointer-events: none; position: absolute; top: calc(50% - 10px); text-align: center; opacity: 0;">
            Drag image to reposition</div>
    </div>
    <div style="max-width: 100%; padding-left: calc(96px + env(safe-area-inset-left)); width: 100%;">
        <div>
            <div class="notion-record-icon notranslate notion-focusable" role="button" aria-disabled="true"
                tabindex="-1"
                style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 140px; width: 140px; border-radius: 3px; flex-shrink: 0; position: relative; z-index: 1; margin-left: 3px; margin-bottom: 0px; align-self: flex-start; margin-top: -80px;">
                <div>
                    <div style="width: 100%; height: 100%;"><img
                            src="../images/breadcrumb-1.png"
                            style="display: block; object-fit: cover; border-radius: 3px; width: 124.32px; height: 124.32px; transition: opacity 100ms ease-out 0s;">
                    </div>
                </div>
            </div>
            <div class="notion-page-controls"
                style="display: flex; justify-content: flex-start; flex-wrap: wrap; margin-top: 8px; margin-bottom: 4px; margin-left: -1px; color: rgba(55, 53, 47, 0.4); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; height: 24px;">
                <div class="notion-focusable" role="button" tabindex="0"
                    style="user-select: none; transition: opacity 100ms ease 0s; cursor: pointer; opacity: 0; display: inline-flex; align-items: center; flex-shrink: 0; white-space: nowrap; height: 28px; border-radius: 3px; font-size: 14px; line-height: 1.2; min-width: 0px; padding-left: 6px; padding-right: 8px; color: rgba(55, 53, 47, 0.4); pointer-events: none; margin-bottom: -16px;">
                    <svg viewBox="0 0 16 16" class="addPageDiscussion"
                        style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.3); flex-shrink: 0; backface-visibility: hidden; margin-right: 6px;">
                        <path
                            d="M4.095 15.465c.287 0 .499-.137.84-.444l2.523-2.277 4.47.007c2.058 0 3.214-1.19 3.214-3.22V4.22c0-2.03-1.156-3.22-3.213-3.22H3.213C1.163 1 0 2.19 0 4.22V9.53c0 2.037 1.196 3.22 3.165 3.213h.273v1.983c0 .45.24.738.657.738zM3.958 5.156a.454.454 0 01-.444-.45c0-.24.198-.438.444-.438h7.157c.246 0 .445.198.445.437a.45.45 0 01-.445.451H3.958zm0 2.256a.454.454 0 01-.444-.451c0-.24.198-.444.444-.444h7.157a.448.448 0 010 .895H3.958zm0 2.256a.448.448 0 010-.896h4.669c.246 0 .437.206.437.452a.438.438 0 01-.437.444H3.958z">
                        </path>
                    </svg>Add comment</div>
            </div>
        </div>
    </div>
</div>