<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="../images/breadcrumb-1.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/notion.css">
</head>

<body>

    <% include breadcrumb.ejs%>
    <div class="app-notion">
        <% include bill.ejs%>
        <% include welcome.ejs%>
        <% include catalog.ejs%>
        <% include common/footer.ejs%>
    </div>



</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>