<div class="container">
    <div class="row">
        <div class="col">
            <div style="padding-right: calc(96px + env(safe-area-inset-right)); ">
                <div data-block-id="7c5513c9-4410-405b-aba2-4445cb09e131" class="notion-selectable notion-page-block"
                    style="color: rgb(55, 53, 47); font-weight: 700; line-height: 1.2; font-size: 40px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, ’Segoe UI’, Helvetica, ’Apple Color Emoji’, Arial, sans-serif, ’Segoe UI Emoji’, ’Segoe UI Symbol’; cursor: text; display: flex; align-items: center;">
                    <div contenteditable="false" spellcheck="true" placeholder="Untitled"
                        data-content-editable-leaf="true"
                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding: 3px 2px;">古剑Wiki-博物学会特刊<span contenteditable="false" aria-hidden="true"
                            data-content-editable-leaf-end="true"
                            class="notion-ignore-text-content whenRootContentEditable"
                            style="pointer-events:none;display:none;--whenRootContentEditable--display:inline-block;width:1em;overflow:visible;white-space:pre;margin-left:-1em;position:relative;left:1em;color:transparent;-webkit-text-fill-color:transparent">—</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include common/blank_horizontal.ejs%>
    <div class="row">
        <div class="col">
            <div style="background: rgb(251, 228, 228);">
                <div style="display: flex;">
                    <div class="notranslate" contenteditable="true" spellcheck="false" placeholder=" "
                        data-content-editable-leaf="true"
                        style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; "><a href="https://wiki.biligame.com/gjqtwiki/%E9%A6%96%E9%A1%B5"
                            style="cursor:pointer;color:rgb(173,26,114);word-wrap:break-word;font-weight:600;text-decoration:inherit"
                            class="notion-link-token notion-enable-hover" target="_blank" rel="noopener noreferrer"
                            data-token-index="0"><span
                                style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                class="link-annotation-7e6586ca-ceb6-4dcb-95eb-d5907f248268-1111621277">古剑BWIKI建设</span></a><span
                            style="font-weight:600;color:rgb(173,26,114)" data-token-index="1"
                            class="notion-enable-hover">正式开始招募啦~ </span>: <a
                            style="vertical-align:top;cursor:pointer;color:inherit;text-decoration:inherit;transition:all 100ms ease-in"
                            contenteditable="false"
                            class="notion-page-mention-token notion-text-mention-token notion-enable-hover"
                            data-token-index="3" href="/98547bd8334c491eba3fabff20bda360"><span
                                style="white-space:nowrap"></span><span style="white-space:nowrap"><span
                                    style="width:1.1em;display:inline-block;vertical-align:-0.15em;position:relative;margin-right:0.2em"><svg
                                        viewBox="0 0 30 30"
                                        style="width:100%;height:100%;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden"
                                        class="page">
                                        <g>
                                            <path
                                                d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                                            </path>
                                        </g>
                                    </svg><svg viewBox="0 0 13 13"
                                        style="width:0.7em;height:0.7em;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden;position:absolute;right:-0.2em;bottom:0"
                                        class="pageLinkIndicator">
                                        <path
                                            d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                            fill="#3E3C38" stroke="white" stroke-width="1.5"></path>
                                    </svg></span></span><span
                                style="border-bottom:0.05em solid rgba(55,53,47,0.25);font-weight:500"
                                class="notion-page-mention-token__title">秉剑博物，终是相逢未晚</span><span
                                style="white-space:nowrap"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <% include common/blank_horizontal.ejs%>
    <div class="row">
        <div class="col">
            <div data-block-id="b1921847-9a34-4622-8503-7581757b565b" class="notion-selectable notion-column-block"
                style="display: flex; flex-direction: column;">
                <div data-block-id="002624be-e69d-4ed5-9d22-e099557a73b1" class="notion-selectable notion-text-block"
                    style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 0px;">
                    <div style="color: inherit; fill: inherit;">
                        <div style="display: flex;">
                            <div class="notranslate" contenteditable="true" spellcheck="false" placeholder=" "
                                data-content-editable-leaf="true"
                                style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: transparent; padding: 3px 2px;">欢迎访问古剑奇谭Wiki资料站 ，<span style="color:rgb(223,171,1)" data-token-index="1"
                                    class="notion-enable-hover">愿每个人知识的星光汇聚,能够星火世传、照彻迷途，或许十年无果，百年无成，千年之后或许会有所不同</span>。<span style="color:rgb(155,154,151)"
                                    data-token-index="3" class="notion-enable-hover"> 如域名访问较慢切换至</span><a
                                    href="/16b548d0cbf041be8beaecb46e43e8d6"
                                    style="cursor:pointer;color:rgb(155,154,151);word-wrap:break-word;font-weight:500;text-decoration:inherit"
                                    class="notion-link-token notion-enable-hover" target="_blank"
                                    rel="noopener noreferrer" data-token-index="4"><span
                                        style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                        class="link-annotation-002624be-e69d-4ed5-9d22-e099557a73b1-1195869513">Notion公共页</span></a><span
                                    style="color:rgb(155,154,151)" data-token-index="5"
                                    class="notion-enable-hover">进行访问. 购买游戏请认准</span><a
                                    href="https://active.wangyuan.com/"
                                    style="cursor:pointer;color:rgb(155,154,151);word-wrap:break-word;text-decoration:inherit"
                                    class="notion-link-token notion-enable-hover" target="_blank"
                                    rel="noopener noreferrer" data-token-index="6"><span
                                        style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                        class="link-annotation-002624be-e69d-4ed5-9d22-e099557a73b1-1550552855">[官方商城]</span></a><span
                                    style="color:rgb(155,154,151)" data-token-index="7"
                                    class="notion-enable-hover">。</span>本维基的内容依照协议<a
                                    href="https://creativecommons.org/licenses/"
                                    style="cursor:pointer;color:rgb(11,110,153);word-wrap:break-word;text-decoration:inherit"
                                    class="notion-link-token notion-enable-hover" target="_blank"
                                    rel="noopener noreferrer" data-token-index="9"><span
                                        style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                        class="link-annotation-002624be-e69d-4ed5-9d22-e099557a73b1--1095506834">中国大陆(CCBY-NC-SA 3.0)</span></a><span style="color:rgb(11,110,153)"
                                    data-token-index="10" class="notion-enable-hover">。本wiki相关设定归相关版权方所有。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-block-id="4b0e96ef-37ed-49d7-a1de-ff69a27cba71" class="notion-selectable notion-divider-block"
                style="width: 100%; max-width: 2086px; margin-top: 1px; margin-bottom: 1px;">
            </div>
            <div data-block-id="6c1eb899-0941-479f-82fa-98a76d4316f5"
            class="notion-selectable notion-callout-block"
            style="width: 100%; max-width: 100%; margin-top: 2px; margin-bottom: 0px;">
            <div style="display: flex;">
                <div
                    style="display: flex; width: 100%; border-radius: 3px; border-width: 1px; border-style: solid; border-color: transparent; background: rgba(235, 236, 237, 0.3); padding: 16px 16px 16px 12px;">
                    <div>
                        <div class="notion-record-icon notranslate notion-focusable" role="button"
                            aria-disabled="true" tabindex="-1"
                            style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 24px; width: 24px; border-radius: 3px; flex-shrink: 0;">
                            <div
                                style="display: flex; align-items: center; justify-content: center; height: 24px; width: 24px;">
                                <div
                                    style="height: 16.8px; width: 16.8px; font-size: 16.8px; line-height: 1.1; margin-left: 0px; color: black;">
                                    <img class="notion-emoji" alt="💡" aria-label="💡"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                        style="width: 100%; height: 100%; background: url('/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png') 47.4576% 25.4237% / 6000% 6000%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="display: flex; flex-direction: column; min-width: 0px; margin-left: 8px; width: 100%;">
                        <div contenteditable="false" spellcheck="true" placeholder="Type something…"
                            data-content-editable-leaf="true"
                            style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding-left: 2px; padding-right: 2px;">本WIKI由非官方民间组织「博物学会特刊」建设，用爱发电，为所有学者提供剧情、考据、机制数据及攻略。本WIKI交流群：[<a
                                href="https://qm.qq.com/cgi-bin/qm/qr?k=wkgGnWaWM9zUcap025i-nCmJbnv85Vvr&amp;authKey=rYV7rF07EQqWcgGssMg7w%2FV2syQVPsR59nerdXNkLNb3NZXHXkFEyZaoGGdfRPIh&amp;noverify=0&amp;group_code=740970222"
                                style="cursor:pointer;color:rgb(11,110,153);word-wrap:break-word;text-decoration:inherit"
                                class="notion-link-token notion-enable-hover" target="_blank"
                                rel="noopener noreferrer" data-token-index="1"><span
                                    style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                    class="link-annotation-6c1eb899-0941-479f-82fa-98a76d4316f5-1236205984">博物学者群740970222</span></a>]。<span style="color:rgb(155,154,151)"
                                data-token-index="3" class="notion-enable-hover">有志加入Wiki编辑的同学请阅读</span><a
                                style="color:inherit;vertical-align:top;cursor:pointer;text-decoration:inherit;transition:all 100ms ease-in"
                                contenteditable="false"
                                class="notion-page-mention-token notion-text-mention-token notion-enable-hover"
                                data-token-index="4" href="/Wiki-b8f6986538b2419381a15d6784f5b0e5"><span
                                    style="white-space:nowrap"></span><span
                                    style="white-space:nowrap"><span
                                        style="display:inline;width:1em;margin-right:0.2em;margin-bottom:0;white-space:nowrap;position:relative"><img
                                            class="notion-emoji" alt="💬" aria-label="💬"
                                            style="width:1em;height:1em;background-repeat:no-repeat;background:url('/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png');background-position-x:47.45762711864407%;background-position-y:52.54237288135594%;background-size:6000% 6000%"
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><svg
                                            viewBox="0 0 13 13"
                                            style="width:0.7em;height:0.7em;display:block;fill:inherit;flex-shrink:0;backface-visibility:hidden;position:absolute;right:-0.2em;bottom:0"
                                            class="pageLinkIndicator">
                                            <path
                                                d="M6.30826 4.43292L1.76184 8.98454C1.76176 8.98462 1.76169 8.9847 1.76161 8.98477C1.76158 8.9848 1.76156 8.98482 1.76154 8.98484C1.46068 9.28584 1.25 9.6914 1.25 10.1565C1.25 10.6117 1.45865 11.0119 1.73417 11.2886C2.01014 11.5658 2.41107 11.7773 2.87078 11.7773C3.34169 11.7773 3.73758 11.5617 4.03477 11.2733L4.03482 11.2734L4.04244 11.2657L8.58864 6.72474V8.667C8.58864 9.51956 9.22729 10.2935 10.1521 10.2935C11.0528 10.2935 11.75 9.54534 11.75 8.66127V2.92671C11.75 2.48722 11.5981 2.06381 11.2838 1.74808C10.9689 1.43182 10.5446 1.27728 10.1006 1.27728H4.36028C3.46161 1.27728 2.72804 1.97749 2.72804 2.86942C2.72804 3.79734 3.51104 4.43292 4.35455 4.43292H6.30826Z"
                                                fill="#3E3C38" stroke="white" stroke-width="1.5">
                                            </path>
                                        </svg></span></span><span
                                    style="border-bottom:0.05em solid rgba(55,53,47,0.25);font-weight:500"
                                    class="notion-page-mention-token__title">Wiki特刊招募 </span><span
                                    style="white-space:nowrap"></span></a><span
                                style="color:rgb(155,154,151)" data-token-index="5"
                                class="notion-enable-hover"> 页面。目前正在</span><span
                                style="color:rgb(11,110,153)" data-token-index="6"
                                class="notion-enable-hover">准备国内 </span><a
                                href="https://wiki.biligame.com/gjqtwiki/%E9%A6%96%E9%A1%B5"
                                style="cursor:pointer;color:rgb(11,110,153);word-wrap:break-word;text-decoration:inherit"
                                class="notion-link-token notion-enable-hover" target="_blank"
                                rel="noopener noreferrer" data-token-index="7"><span
                                    style="border-bottom:0.05em solid;border-color:rgba(55,53,47,0.4);opacity:0.7"
                                    class="link-annotation-6c1eb899-0941-479f-82fa-98a76d4316f5-1111621277">BiliBiliWiki镜像站</span></a><span style="color:rgb(155,154,151)"
                                data-token-index="8" class="notion-enable-hover">，需要大家的帮助。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>