<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="../images/cardback.jpg" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/stylesheets/notion.css">
</head>

<body>

    <% include breadcrumb.ejs%>
    <div class="app-notion">
        <% include body.ejs%>
    </div>



</body>

</html>